<!-- templates/main/services.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}
Services and Prices
{% endblock %}

{% block content %}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }
</style>

<div class="container mt-5">
    <h2>Price List</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Service</th>
                    <th scope="col">Price (£)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Haircut</td>
                    <td>£15</td>
                </tr>
                <tr>
                    <td>Skin Fade</td>
                    <td>£18</td>
                </tr>
                <tr>
                    <td>O.A.P</td>
                    <td>£12</td>
                </tr>
                <tr>
                    <td>Beard Trim & Line Up</td>
                    <td>£10</td>
                </tr>
                <tr>
                    <td>Clean Hot Towel Shave</td>
                    <td>£20</td>
                </tr>
                <tr>
                    <td>Clipper Beard Trim</td>
                    <td>£8</td>
                </tr>
                <tr>
                    <td>Shape Up</td>
                    <td>£8</td>
                </tr>
                <tr>
                    <td>Skin Fade & Hot Towel Shave</td>
                    <td>£25</td>
                </tr>
                <tr>
                    <td>Haircut & Hot Towel Shave</td>
                    <td>£25</td>
                </tr>
                <tr>
                    <td>Steam Face Mask</td>
                    <td>£15</td>
                </tr>
                <tr>
                    <td>Threading</td>
                    <td>£10</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
